
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="custom-container mt-5" style="color:#808080">
    <h2 class="custom-heading">
        <span style="color:#db545a">Our</span> Story
    </h2>
    <p class="custom-text">Welcome to Black Coffee Cafe., where passion meets perfection. Our journey began with a simple idea: to provide the finest coffee experience to our customers. Since our inception, we've been dedicated to crafting the perfect cup of coffee.</p>

    <h2 class="custom-heading mt-4">
        <span style="color:#db545a">Our</span> Mission
    </h2>
    <p class="custom-text">At Black Coffee Cafe., our mission is to bring people together through the love of coffee. We source the highest quality beans, roast them to perfection, and deliver a rich and flavorful experience with every sip.</p>

    <h2 class="custom-heading mt-4">
        <span style="color:#db545a">Meet</span> the Team
    </h2>
    <p class="custom-text">Our team consists of coffee enthusiasts, baristas, and experts who are committed to excellence. We work tirelessly to ensure that each cup of coffee reflects our passion and dedication.</p>

    <h2 class="custom-heading mt-4">
        <span style="color:#db545a">Visit</span> Our Coffee Shops
    </h2>
    <p class="custom-text">Come visit our cozy coffee shops located in picturesque neighborhoods. Experience the warmth of our spaces and indulge in a variety of coffee blends, pastries, and more.</p>

    <img src="~/images/inside.jpg" alt="Coffee Shop Interior" class="custom-image img-fluid mt-3 mb-3" >


    <p class="custom-text">Experience the cozy ambiance of our coffee shops where you can unwind and enjoy your favorite brew.</p>

    <h2 class="custom-heading mt-4">
        <span style="color:#db545a">Contact</span> Us
    </h2>
    <p class="custom-text">Have questions or want to share your coffee experience with us? Feel free to contact our team. We'd love to hear from you!</p>
</section>

